<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trending Now</title>
</head>
<body>
<h1>Trending GIFs</h1>
<div class="gif">
    {% if gifs == null %}
        <p>Nothing found.</p>
    {% else %}
        <ul>
            {% for gif in gifs %}
                <li><img src="{{ gif.originalUrl }}" alt="{{ gif.title }}"></li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
</body>
</html>